@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mooli", sans-serif;
}

:root {
  --mainbgcolor: #51756e;
}

body {
  background: var(--mainbgcolor);
}

.main {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  gap: 2rem;
}

.card {
  user-select: none;
  background: white;
  border-radius: 5px;
  padding: 20px;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.card .loadingeffect {
  height: 5px;
  width: 5%;
  background: var(--mainbgcolor);
  align-self: flex-start;
  animation: LoadingAnimation 2s ease-in-out infinite;
}

@keyframes LoadingAnimation {
 from{
  width: 2%;
 } to{
  width: 100%;
 }
}

.card-body{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.textcontent{
  position: relative;
  font-size: 1.4rem;
}

.textcontent::after {
  content: "''";
  font-size: 3rem;
  margin: 8px 3px;
  color: var(--mainbgcolor);
  position: fixed;
}

.textcontent::before {
  content: "''";
  font-size: 3rem;
  margin: 0 2px;
  color: var(--mainbgcolor);

}

.card-body p{
  font-size: 1.1rem;
}

.author{
  font-weight: bold;
  padding-bottom: 8px;
  color: var(--mainbgcolor);
  border-bottom: 3px solid var(--mainbgcolor);
}

@media (max-width: 768px) {
  .card {
    width: 80%;
  }
}
