@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mooli", sans-serif;
}

:root {
  --mainbgcolor: #353b48;
  --gap: 1rem;
}

body {
  background: var(--mainbgcolor);
}

.main {
  display: grid;
  place-content: center;
  height: 100dvh;
  gap: 2rem;
}

.marqueediv {
  color: white;
  display: flex;
  overflow: hidden;
  gap: var(--gap);
}

.marqueediv .item {
  flex-shrink: 0;
  animation: marqueeani 20s 1s forwards linear infinite;
}

.marqueediv .item h2 {
  font-size: 2.5rem;
}

@keyframes marqueeani {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
