@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --maincolor: #f3f3f3;
  --uicolor: #fa983a;
}

.main {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  background-color: #006266;
}

.mobile {
  height: 80%;
  width: 33%;
  border-radius: 10px;
  border: 3px solid var(--maincolor);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}

.image {
  flex: 0.9;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.6s ease-in;
}

.tab {
  flex: 0.1;
  background: var(--maincolor);
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
}

.tab li {
  list-style: none;
  flex: 1;
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
  font-size: 1rem;
  color: var(--uicolor);
}

h1 {
  font-size: 1rem;
  overflow: hidden;
  height: 0px;
  transition: 0.4s ease;
}

.tab li:hover h1 {
  height: 100%;
}

.active{
  height: 100%;
}

@media (max-width: 768px) {
  .mobile {
    width: 80%;
  }
}
