@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mooli", sans-serif;
}

:root {
  --mainbgcolor: #f0f0f0;
}

.main {
  background: var(--mainbgcolor);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100dvh;
  gap: 2rem;
}

.card{
  width: 60%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}