@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mooli", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --mainwhitecolor: #ffffff;
  --mainblack: #000000;
  --secondbg:#ebebeb;
  --maxwidth: 1200px;
}

 /* // normal styling  */

.max {
  margin: 0 auto;
  max-width: var(--maxwidth);
}

a{
  text-decoration: none;
}

li,
button {
  cursor: pointer;
}

img{
  display: block;
  width: 100%;
  object-fit: cover;
}

button {
  border-radius: 50px;
  outline: none;
  border: none;
  color: var(--mainblack);
  background: var(--mainwhitecolor);
  transition: 0.3s ease-in-out;
  padding: 10px 25px;
  font-size: 1.1rem;
}
button:hover {
  color: var(--mainwhitecolor);
  background: var(--mainblack);
}

.opposite_btn{
  background-color: var(--mainblack);
  color: var(--mainwhitecolor);
  border: 1px solid var(--mainblack);
}
/* go to top button  */
.go__to__top{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: -144px;
  display: grid;
  place-content: center;
  transition: .3s ease-in-out;
}

.go__to__top:hover{
  background-color: var(--mainwhitecolor);
  color: var(--mainblack);
}

.go__to__top span{
  font-size: 1.8rem;
}

/* // styling in header  */

.header {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 95%;
  max-width: var(--maxwidth);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  background: rgb(255 255 255 / 26%);
  border-radius: 50px;
  color: var(--mainwhitecolor);
}

.logo {
  font-size: 1.3rem;
  padding: 0 10px;
}

nav ul {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

nav ul li {
  color: rgba(255, 255, 255, 0.76);
  font-size: 0.9rem;
  list-style: none;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--mainwhitecolor);
  border-color: transparent;
}

nav ul li a{
  color: rgba(255, 255, 255, 0.76);

}

nav ul li:hover {
  color: var(--mainwhitecolor);
  border-bottom: 2px solid var(--mainwhitecolor);
}

.activelink {
  color: var(--mainwhitecolor);
  border-bottom: 2px solid var(--mainwhitecolor);
}

.activelink a{
  color: var(--mainwhitecolor);
}

.ham{
  display: none;
}

.maincontainer {
  height: 100dvh;
  background:linear-gradient(to right,rgba(0,0,0,.8),rgba(0,0,0,0.6)), url("https://images.pexels.com/photos/18573922/pexels-photo-18573922/free-photo-of-sand-dunes-in-desert.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load");
  background-size: cover;
  background-repeat: no-repeat;
}

.homecontainer {
  height: 100%;
  display: flex;
}

.content {
  flex: 0.5;
  display: grid;
  place-content: center;
  padding: 0 30px;
  gap: 1rem;
}

.content h2 {
  font-size: 2rem;
  color: white;
}

.content p {
  font-size: 1.2rem;
  color:white;
}

.content .btn{
  width: min-content;
}

.sections{
  padding:.625rem 1.25rem;
}

.sections .heading{
  text-align: center;
  padding-bottom: 1.25rem;
}

/* // about section  */
.about{
  padding: 30px 20px;
  background-color: var(--mainwhitecolor);
}

.about__content{
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about__content img{
  height: 400px;
  width: 400px;
  border-radius: 50%;
  margin: 0 auto;
}

.text__content h2,.text__content p{
  color: #000000;
}

.text__content h2{
  padding-bottom: .625rem;
}

/* // travel section  */

.travel{
  background-color: var(--secondbg);
}

.head__travel{
  padding-top: 1.25rem;
}

.travel__content__container{
  padding:10px;
}

.travel__col{
  display: flex;
  gap: 1rem;
  padding: 1.25rem 0;
}

.travel__col:nth-child(2),.travel__col:nth-child(4){
  flex-direction: row-reverse;
}

.travel__img{
  flex: .5;
}

.travel__img img{
  border-radius: 10px;
}

.travel__content{
  flex:.5;
  display: grid;
  place-content: center;
  gap: 1rem;
}

.travel__content h2{
  text-align: center;
}

/* contact section */
.contact .heading{
  padding-top: 20px;
}
.contact__form{
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin:0 auto;
  gap: 2rem;
}

.contact__form input,textarea{
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 50px;
  background-color: var(--secondbg);
}

.contact__form textarea{
  resize: none;
  border-radius: 10px;
}

.form__btn:hover{
  background-color: transparent;
  color: var(--mainblack);
}

/* footer section */
.footer{
  padding:1.5rem .625rem;
  background-color: var(--secondbg);
}

.footer p{
  font-size: 1.3rem;
  text-align: center;
}

@media (max-width: 768px) {
  /* header  */
  .headerborder{
    border-radius:25px 25px 0 0;
  }

  nav{
    overflow: hidden;
    height: 0;
    position: absolute;
    right: 0;
    top: 48px;
    width: 100%;
    background: rgb(255 255 255 / 26%);
  border-radius:0 0 25px 25px;
  transition: .3s ease-in-out;
  backdrop-filter: blur(10px);
  }
  .navheight{
    height: 315px;
  }

  nav ul{
    flex-direction: column;
    height: auto;
    align-items: flex-end;
    padding: 64px 26px 15px 0;
  }

  .ham{
    display: block;
    padding-right: 10px;
    cursor: pointer;
  }

  .ani{
  transition: 1.1s ease-in-out;
  }

  .content {
    flex: 1;
  }
  /* // about section  */
  .about__content{
    width: 100%;
  }

  /* /travel section  */
  .travel__col{
    flex-direction: column;
  }
  .travel__col:nth-child(2),.travel__col:nth-child(4){
    flex-direction: column;
  }
  .travel__content h2{
    text-align: left;
  }
}

@media (max-width:468px) {
  .about__content img{
    height: 250px;
    width: 250px;
  }
}