* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

:root {
  --mainbgcolor: rgb(240, 240, 240);
  --buttonbg: rgb(37, 135, 192);
}

.main {
  background: var(--mainbgcolor);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  flex-direction: column;
}

button {
  padding: 10px 25px;
  border-radius: 50px;
  border: 1px solid rgb(37, 135, 192);
  font-size: 1.8rem;
  color: var(--buttonbg);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: transparent;
  z-index: 10;
  transition: 0.3s ease-in;
}

button::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 0;
  height: 120%;
  background-color: rgb(7, 81, 141);
  z-index: -1;
  transform: skewX(-10deg);
  transition: 0.3s ease-in;
}

button::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  width: 0;
  height: 120%;
  background-color: rgb(111, 137, 252);
  z-index: -1;
  transform: skewX(-10deg);
  transition: 0.3s ease-in;
}

button:hover {
  color: var(--mainbgcolor);
  border: 1px solid rgb(111, 137, 252);
}

button:hover::after,
button:hover::before {
  width: 53%;
}
