* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --heartColor: red;
  }

  .main {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  }

  .bgImg{
    position: absolute;
    z-index: -1;
    height: 100%;
    width:100%;
    filter:blur(100px);
    transition: .3s ease-in-out;
  }

  .card{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
  }

  .card input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    outline: none;
    font-size: 16px;
  }