
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --mainColor:#96989e;
    --secondMain:#6D214F;
    --transition : .3s ease-in-out;
    --starColor:rgb(171 63 53);
}

body{
    background-color: var(--mainColor);
}

.main{
    max-width: 1200px;
    margin: 0 auto;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.outerdiv{
    height: 28px;
    width: 150px;
    background-color: rgb(217 229 0);
    border-radius: 0 0 50% 50%;
    position: relative;
    transition: var(--transition);
    cursor: pointer;
}

.designRow{
    display: flex;
    position: absolute;
    top: 10px;
}

.designRow:nth-child(1){
    top: 34px;
}
.designRow:nth-child(2){
    top: 57px;
}

.design{
    position: absolute;
    transition: var(--transition);
    height: 0px;
    background-color: var(--starColor);
    width: 24px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.design:nth-child(1){
    left: 24px;
    top: 13px;
}

.design:nth-child(3){
    left: 48px;
    top: 20px;
}

.design:nth-child(4){
    left: 74px;
    top: 20px;
}
.design:nth-child(5){
    left: 98px;
    top: 13px;
}
.design:nth-child(6){
    left: 122px;
    top: 0;
}

.bottomline{
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 20px;
    background: rgb(0 0 0 / 25%);
    bottom: -5px;
    z-index: -1;
    box-shadow: 2px 4px 10px 1px #00000057;
}

.innerdiv{
    position: absolute;
    height: 37px;
    right: 0;
    left: 0;
    width: 100%;
    border-radius: 50%;
    top: -19px;
    transform: rotate(180deg);
    background-color: #859e03;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle{
    border: 2px solid var(--starColor);
    transform: rotate(180deg);
    border-radius: 50%;
    padding: 6px;
    width: 87%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.smallcirclered{
    position: absolute;
    height: 10px;
    width: 20px;
    border-radius: 50%;
    background-color: red;
}
.smallcircleyellow{
    position: absolute;
    height: 6px;
    width: 10px;
    background-color: yellow;
    border-radius: 50%;
    left: 26%;
    top: 34%;
}

.fire{
    height: 0px;
    width: 30px;
    border-radius:10px 10px 50% 50%;
    position: absolute;
    top: 16px;
    background-color: red;
    left: 40%;
    transition: var(--transition);
}
.innerfire{
    height: 0px;
    width: 20px;
    border-radius:10px 10px 50% 50%;
    position: absolute;
    top: 0;
    background-color: yellow;
    left: 18%;
    transition: var(--transition);
}

.outerdiv:hover{
    height: 110px;
}

.outerdiv:hover .fire{
    height: 100px;
    box-shadow: 0px 10px 10px 10px red;
}

.outerdiv:hover .innerfire{
    height: 80px;
    box-shadow: 0px 4px 10px 10px yellow;
}

.outerdiv:hover .design{
    height: 24px;
}