
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --mainColor:#182C61;
    --secondMain:#6D214F;
    --transition : .3s ease-in-out
}

body{
    background-color: var(--mainColor);
}

.main{
    max-width: 1200px;
    margin: 0 auto;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.outerdiv{
    height: 28px;
    width: 150px;
    background-color: yellow;
    border-radius: 0 0 50% 50%;
    position: relative;
    transition: var(--transition);
    cursor: pointer;
}

.design{
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.innerdiv{
    position: absolute;
    height: 37px;
    right: 0;
    left: 0;
    width: 100%;
    border-radius: 50%;
    top: -19px;
    transform: rotate(180deg);
    background-color: darkcyan;
}

.fire{
    height: 0px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    background-color: red;
    left: 40%;
    transition: var(--transition);
}
.innerfire{
    height: 0px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    background-color: rgb(255, 213, 0);
    left: 18%;
    transition: var(--transition);
}

.outerdiv:hover{
    height: 100px;
}

.outerdiv:hover .fire{
    height: 100px;
}

.outerdiv:hover .innerfire{
    height: 80px;
}
