@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.main {
  display: flex;
  align-items: center;
  height: 100dvh;
  justify-content: center;
  gap: 3rem;
  padding: 20px;
  flex-wrap: wrap;
  user-select: none;
}

.image {
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  height: 400px;
  width: 300px;
  position: relative;
}

.image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in;
}

.image:hover img {
  scale: 1.1;
}

.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  top: 0;
  bottom: 0;
  left: -350px;
  right: 0;
  z-index: 10;
  transition: 0.3s ease-in;
  display: grid;
  place-content: center;
}

.image:hover .bg {
  background: rgba(0, 0, 0, 0.5);
  left: 0;
}

.bg .text {
  opacity: 0;
  color: white;
  transition: 0.7s ease-in;
  font-size: 1.4rem;
}

.image:hover .bg .text {
  opacity: 1;
}
