@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mooli", sans-serif;
}

:root {
  --transition:.4s ease-out;
  --btn1color:#046e69;
  --btn2color:#9b5c10;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100dvh;
  color:white;
}
.left{
  display: grid;
  place-content: center;
  flex: .5;
  height: 100%;
  gap: 1rem;
  transition: var(--transition);
  background-size: cover;
  background-repeat: no-repeat;
  background-image:  linear-gradient(
    rgba(0, 0, 0, 0.4), 
    rgba(0, 0, 0, 0.4)
  ), url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y29kaW5nfGVufDB8fDB8fHww&auto=format&fit=crop&w=400&q=60");
}

.right{
  display: grid;
  place-content: center;
  flex: .5;
  height: 100%;
  gap: 1rem;
  transition: var(--transition);
  background-size: cover;
  background-repeat: no-repeat;
  background-image:  linear-gradient(
    rgba(0, 0, 0, 0.4), 
    rgba(0, 0, 0, 0.4)
  ),  url("https://images.unsplash.com/photo-1535395155851-2088a2a94701?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzJ8fHRlYXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=400&q=60");
}

h2{
  font-size: 2rem;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}

button{
  cursor: pointer;
  padding: 10px 0;
  font-size: 1.8rem;
  background:transparent;
  color: white;
  border: 2px solid white;
}

.btn:hover{
  border-radius: 3px;
  border:2px solid var(--btn1color);
  background-color: var(--btn1color);
}

.btn2:hover{
  border-radius: 3px;
  border:2px solid var(--btn2color);
  background-color: var(--btn2color);
}

.left:hover{
  flex:.9;
}

.right:hover{
  flex:.9;
}