* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

:root {
  --mainbgcolor: rgb(240, 240, 240);
}

.main {
  background: var(--mainbgcolor);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  flex-direction: column;
  gap: 3rem;
}

.flex {
  position: relative;
}

.bulb {
  display: block;
  border: 1px solid yellow;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--mainbgcolor);
  z-index: 2;
  top: -50%;
  left: -25%;
}

.on {
  background-color: yellow;
  box-shadow: 0px 0px 72px 20px rgb(251 255 0 / 61%);
}

.clip {
  display: block;
  background: rgb(105, 105, 105);
  height: 250px;
  width: 200px;
  clip-path: polygon(0 0, 100% 0, 75% 100%, 25% 100%);
}

button {
  cursor: pointer;
  padding: 10px 30px;
  font-size: 2rem;
  background-color: rgb(185, 185, 39);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 2px;
}
