@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mooli", sans-serif;
}

:root {
  --mainColor: #486568;
  --computer:#e84118;
  --user:#40739e;
}

body{
  background:var(--mainColor);
  color:white;
}

.resultdiv{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
}

.grid{
  display: grid;
  place-content: center;
}

.mainheading{
  padding: 80px 10px;
  padding-bottom: 30px;
  font-size: 1.3rem;
  text-align: center;
}

.counter{
  gap: 3rem;
  display: flex;
  padding: 20px 20px;
  align-items: center;
  justify-content: space-between;
}

.counter span{
  font-size: 3rem;
  text-shadow: 2px 1px 2px var(--computer);
}

.counter .userresult , .counter .computerresult{
  text-align: center;
  text-shadow: 2px 1px 2px var(--computer);
}

.main {
  display: grid;
  place-content: center;
}

.content{
  width: 320px;
  display: grid;
  gap:2rem;
  text-align: center;
}

.optiondiv{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button{
  cursor:pointer;
  padding:10px 15px;
  border-radius: 5px;
  border:hidden;
  font-size: 1.4rem;
  box-shadow: 2px 1px 2px var(--computer);
  color:var(--mainColor);
}

button:active{
  transform: scale(.9);
}

.result,.computer{
  text-shadow: 2px 1px 2px var(--user);
}