
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --mainColor:#d9d9d9;
    --secondMain:#d2d2d2;
}

body{
    background-color: var(--secondMain);
}

#main{
    margin: 0 auto;
    height: 100dvh;
}

#navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    height: 100dvh;
    background-color: rgb(157, 157, 157);
    padding: 20px 0;
}

#navbar header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#navbar a {
    padding: 10px;
    border: 1px solid green;
    width: 100%;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    h2{
        font-size: 1rem;
    }
}